.clean-input {
    width: 95px;
    height: 55px;
    border-radius: 14px;
    border: 2px solid rgba(255,255,255,0.08);
    background: rgba(255,255,255,0.08);
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    transition: 0.2s;
}

.clean-input::placeholder {
    color: rgba(255,255,255,0.45);
    font-weight: 600;
}

.clean-input:focus {
    border-color: #ffd000;
    background: rgba(255,255,255,0.12);
    transform: scale(1.03);
}

/* remove setinhas chrome */
.clean-input::-webkit-outer-spin-button,
.clean-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* remove setinhas firefox */
.clean-input[type=number] {
    -moz-appearance: textfield;
}

.versus {
    font-size: 24px;
    color: #ffd000;
}
